.button {
	@extend .transition-active;
	@include font-style(14px, 24px, 400);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 30px;
	cursor: pointer;
	border-radius: 3px;

	&--white {
		color: #000000;
		background-color: #fff;
		border: solid 1px #cfc;

		@include non-touch() {
			&:hover:not(:disabled) {
				color: #fff;
				background-color: rgba(51, 102, 255, 0.5);
				border: 1px solid transparent;
			}
		}
	}

	&--blue {
		color: #fff;
		background-color: #36f;
		border: 1px solid transparent;

		@include non-touch() {
			&:hover:not(:disabled) {
				color: #000000;
				background-color: #fff;
				border: solid 1px #cfc;
			}
		}
	}

	&:disabled {
		color: #000;
		background-color: #8e90a6;
		opacity: 0.5;
		cursor: default;
	}

	&:active {
		opacity: 0.5;
	}
}
